<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>MediScan</title>


    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container">

    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>

        <a href="index.html" class="logo">
            <b>MEDI SCAN</b>
        </a>
        <div class="nav notify-row" id="top_menu">

        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li>
                    <a class="logout" href="login.html">Logout</a>
                </li>
            </ul>
        </div>
    </header>

    <aside>
        <div id="sidebar" class="nav-collapse ">

            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered">
                    <a href="profile.html">
                        <img src="assets/img/ui-sam.jpg" class="img-circle" width="60">
                    </a>
                </p>
                <h5 class="centered">Marcel Newman</h5>

                <li class="mt">
                    <a href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Search</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="general.html">
                        <i class=" fa fa-desktop">
                        </i>
                        <span>Favourites</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href=" todo_list.html">
                        <i class="fa fa-tasks"></i>
                        <span>Recent View</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>My Profile</span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a href="blank.html">Profile Details</a>
                        </li>
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="lock_screen.html">Lock Screen</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="form_component.html">
                        <i class="fa fa-cogs"></i>
                        <span>Settings</span>
                    </a>
                </li>

            </ul>

        </div>
    </aside>

    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> PROFILE DETAILS
            </h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <p>Place your content here.</p>
                </div>
            </div>

        </section>
    </section>
</section>


<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<script src="assets/js/common-scripts.js"></script>


<script>
    //custom select box



</script>

</body>
</html>